<div class="container" *ngIf="detailPageData$ | async as data; else loadingOrError">
  <button (click)="goBack()" class="back-button">← Retour</button>

  <h2>{{ data.countryData.country }}</h2>

  <div class="info-boxes">
    <div class="info-box">
      <span>Number of entries</span>
      <strong>{{ data.countryData.participations.length }}</strong>
    </div>
    <div class="info-box">
      <span>Total number medals</span>
      <strong>{{ data.totalMedals }}</strong>
    </div>
    <div class="info-box">
      <span>Total number athletes</span>
      <strong>{{ data.totalAthletes }}</strong>
    </div>
  </div>

  <div class="chart-container">
    <ngx-charts-line-chart
      [results]="data.lineChartData"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Dates"
      yAxisLabel="Medals">
    </ngx-charts-line-chart>
  </div>

</div>

<ng-template #loadingOrError>
  <p>Données non trouvées ou en cours de chargement...</p>
</ng-template>
