<div class="container" *ngIf="countryData; else loadingOrError">
  <button (click)="goBack()" class="back-button">← Back</button>
  <h2>{{ countryData?.country }}</h2>

  <div class="info-boxes">
    <div class="info-box">
      <span>Number of entries</span>
      <strong>{{ countryData?.participations?.length }}</strong>
    </div>
    <div class="info-box">
      <span>Total number medals</span>
      <strong>{{ totalMedals }}</strong>
    </div>
    <div class="info-box">
      <span>Total number athletes</span>
      <strong>{{ totalAthletes }}</strong>
    </div>
  </div>

  <ngx-charts-line-chart
    [results]="lineChartData"
    [view]="[700, 400]"
    [legend]="false"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Dates"
    yAxisLabel="Medals">
  </ngx-charts-line-chart>

</div>

<ng-template #loadingOrError>
  <p *ngIf="!countryData">Country data not found or still loading...</p>
</ng-template>
