<div class="container" *ngIf="countryData; else loadingOrError">
  <button (click)="goBack()" class="back-button">← Retour</button>

  <h2>{{ countryData.country }}</h2>

  <div class="info-boxes">
    <div class="info-box">
      <span>Number of entries</span>
      <strong>{{ countryData.participations.length }}</strong>
    </div>
    <div class="info-box">
      <span>Total number medals</span>
      <strong>{{ totalMedals }}</strong>
    </div>
    <div class="info-box">
      <span>Total number athletes</span>
      <strong>{{ totalAthletes }}</strong>
    </div>
  </div>

  <!-- On ajoute le conteneur pour le graphique ici -->
  <div class="chart-container">
    <ngx-charts-line-chart
      [results]="lineChartData"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Dates"
      yAxisLabel="Medals">
    </ngx-charts-line-chart>
  </div>

</div>

<ng-template #loadingOrError>
  <p *ngIf="!countryData">Données non trouvées ou en cours de chargement...</p>
</ng-template>
