<div class="container" *ngIf="chartData.length > 0; else loading">
  <h2>Olympic games medals</h2>

  <div class="info-boxes">
    <div class="info-box">
      <span>Number of JOs</span>
      <strong>{{ numberOfJos }}</strong>
    </div>
    <div class="info-box">
      <span>Number of countries</span>
      <strong>{{ numberOfCountries }}</strong>
    </div>
  </div>

  <div class="chart-container">
    <ngx-charts-pie-chart
      [results]="chartData"
      [legend]="true"
      [legendPosition]="legendPosition"
      [labels]="true"
      [doughnut]="false"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  </div>

</div>

<ng-template #loading>
  <p>Loading data...</p>
</ng-template>
